@import 'overlayscrollbars/overlayscrollbars.css';

:root {
	--colorBase: #333;
	--colorLight: #fff;
	--colorBgDark: #000124;
	--colorNegative: #ff2550;
	--colorNegativeHover: #bb1237;
	--colorYellow: #ff0;
}

/* Responsive breakpoints
https://tailwindcss.com/docs/responsive-design */

@custom-media --media-sm (min-width: 640px);
@custom-media --media-md (min-width: 768px);
@custom-media --media-lg (min-width: 1024px);
@custom-media --media-xl (min-width: 1280px);
@custom-media --media-2xl (min-width: 1536px);
